POSTGRES_USER=someuser
POSTGRES_PASSWORD=somepass
GOOGLE_CLIENT_ID=someurl
GOOGLE_CLIENT_SECRET=somesecret
GITHUB_CLIENT_ID=someurl
GITHUB_CLIENT_SECRET=somesecret
POSTGRES_PORT=5432
APP_PORT=8080
FRONTEND_PORT=5173
UPLOAD_DIR=./uploads
